fastapi>=0.115.11
sqlalchemy>=2.0.46
bcrypt>=4.3.0
pyjwt>=2.10.1
pydantic>=2.10.6
pydantic-settings>=2.8.1
pytz>=2025.1
email-validator>=2.2.0
gunicorn>=23.0.0
uvicorn>=0.34.0
python-dateutil>=2.9.0.post0
mpesakit>=2.0.1
jinja2>=3.1.5
segno>=1.6.6
gunicorn>=23.0.0
uvicorn>= 0.34.0
